﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Nice Library</h1>
</div>
<div class="row">
    
        <h2>Welcome to Nice Library</h2>
        <p>
           Manage your books and borrowers efficiently.
        </p>
   
    
   
  
</div>