@model NiceLibrary.Model.Borrower

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Borrower</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrowings)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Book Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Active</th>
                </tr>
                @foreach (var item in Model.Borrowings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Borrowed)
                        </td>
                    <!--    <td>
                                    <input type="checkbox"
                                           name="selectedCourses"
                                           value="@item.Book.Title"
                                           @(Html.Raw(item.Book.Borrowed ? "checked=\"checked\"" : "")) />

                                           @item.Book.Title
                                </td>--> 

                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
